<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1333}</string>
                <key>spriteSourceSize</key>
                <string>{750,1333}</string>
                <key>textureRect</key>
                <string>{{0,0},{750,1333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,57}</string>
                <key>spriteSourceSize</key>
                <string>{63,57}</string>
                <key>textureRect</key>
                <string>{{750,0},{63,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,11}</string>
                <key>spriteSourceSize</key>
                <string>{5,11}</string>
                <key>textureRect</key>
                <string>{{813,0},{5,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{818,0},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,43}</string>
                <key>spriteSourceSize</key>
                <string>{57,43}</string>
                <key>textureRect</key>
                <string>{{0,1333},{57,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{57,1333},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{114,1333},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{171,1333},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{228,1333},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>palyer_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{285,1333},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>palyer_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{387,1333},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{489,1333},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain2_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{559,1333},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain2_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{629,1333},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain2_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{699,1333},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain2_die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{769,1333},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{0,1459},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain3_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{165,1459},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain3_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{330,1459},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain3_die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{495,1459},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain3_die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{660,1459},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain3_die5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{0,1715},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plain3_die6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,256}</string>
                <key>spriteSourceSize</key>
                <string>{165,256}</string>
                <key>textureRect</key>
                <string>{{165,1715},{165,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{330,1715},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{432,1715},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{534,1715},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{636,1715},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AircraftWar.png</string>
            <key>size</key>
            <string>{839,1971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92d83201d9b9937c58dc6bce8c9d46a:8d3c6429955893e023cecf1b532fd996:e6d3c1221adeb3f856aa96349afbae56$</string>
            <key>textureFileName</key>
            <string>AircraftWar.png</string>
        </dict>
    </dict>
</plist>
