<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,700}</string>
                <key>spriteSourceSize</key>
                <string>{480,700}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,57}</string>
                <key>spriteSourceSize</key>
                <string>{63,57}</string>
                <key>textureRect</key>
                <string>{{0,700},{63,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,11}</string>
                <key>spriteSourceSize</key>
                <string>{5,11}</string>
                <key>textureRect</key>
                <string>{{63,700},{5,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,43}</string>
                <key>spriteSourceSize</key>
                <string>{57,43}</string>
                <key>textureRect</key>
                <string>{{68,700},{57,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,99}</string>
                <key>spriteSourceSize</key>
                <string>{69,99}</string>
                <key>textureRect</key>
                <string>{{125,700},{69,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{194,700},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{251,700},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{308,700},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{365,700},{57,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>palyer_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{0,799},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>palyer_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{102,799},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{204,799},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{306,799},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{0,925},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{102,925},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>airWar.png</string>
            <key>size</key>
            <string>{480,1051}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d542d33484858da2a7b1f669535708:3cd56abc3c03867fca8872177971f7a9:825e45d9c57b7bfed39531d322e46ad4$</string>
            <key>textureFileName</key>
            <string>airWar.png</string>
        </dict>
    </dict>
</plist>
